:root {
    --alpha: #fff;
    --beta: #107f8c;
    --gamma: #b751da;
    --delta: #1e1d2f;
    --epsilon: #264147;
    --zita: #fdf5cb;
    --ita: #7cb342;
    --theta: #fa8072;
    --iota: #a2d6b2;
    --duration: .15s;
}